/* ------------------------------------------------------------------------ */
/*                          Start of Index PAGE                             */
/* ------------------------------------------------------------------------ */
#what .items {
    display: block;
}

#what .items .item {
    display: flex;
    text-align: left;
    flex: 1;
}

#what .items i {
    margin-right: 1.3rem;
    align-self: center;
}

/* Phones */
@media(max-width: 620px) {
    /* Home page */
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 1rem;
        text-align: center
    }

    #who {
        flex-direction: column;
    }

    #who .who-img {
        flex-basis: 300px;
    }

    #clients .logo-container img {
        width: 70%;
    }

    /* Services page */
    #web-scraping {
        flex-direction: column-reverse;
    }

    #web-scraping .web-scraping-content {
        padding: 0 !important;
    }

    #web-scraping .web-scraping-content .container-75-l {
        justify-items: center 
    }

    #web-scraping .web-scraping-img {
        text-align: center;
    }

    #web-scraping .web-scraping-img img {
        width: 80%;
        height: 80%;
    }
}